{% extends "base.html.twig" %}

{% block pageTitle %}
    Profile for: <span style="color: black;">{{ employee.name }} {{ employee.surname }}</span>
{% endblock %}

{% block body %}
    
{% endblock %}