{% extends "base.html.twig" %}

{% block pageTitle %}
    Show Contract lists for Employee
{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>
                Id.
            </th>
        </tr>
        <tr>
            <td>
            
            </td>
        </tr>
    </table>
{% endblock %}